{%- extends "boilerplate/layout.html" -%}

{%- set css_files = [
    '_static/css/bootstrap.min.css',
    '_static/css/font-awesome.min.css',
    '_static/css/style.css',
    '_static/css/default.css',
    '_static/css/pygments.css',
    '_static/css/responsive.css',
] -%}

{%- set script_files = [
	"_static/vendor.js",
	"_static/app.js",
] -%}

{%- block doctype %}
<!DOCTYPE html>
{% endblock -%}

{% block extrahead %}
<link href="{{ pathto('_static/favicon.png', 1) }}" type="image/png" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}


{%- block css %}
{# Don't include the parent theme's css files #}
{%- endblock %}

{%- block headjs %}
{#
Don't include the parent theme's js files, but include jquery
as the macro in the base theme filters out jquery.
#}
<script src="{{ pathto('_static/jquery.js', 1) }}"></script>
{%- endblock %}

{# Use the header block to insert the header navbar content #}
{%- block header %}
{# Outer wrapper for pushing the footer to the bottom #}

{# Red Mega Menu #}
<header class="nav-down">
	<div class="container-fluid hidden-xs hidden-sm">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<a class="logo-cake" href="http://cakephp.org">
					<img src="{{ pathto('_static/logo-cake.png', 1) }}" alt="CakePHP" />
				</a>
			</div>

			<div class="col-sm-9 col-md-9">
				<nav class="navbar-right">
					<ul class="menu">
						<li class="first">
							<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
							<ul class="submenu">
								{% include 'menu/documentation.html' %}
							</ul>
						</li>

						<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
						<li><a href="http://cakephp.org/showcase">Showcase</a></li>

						<li>
							<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
							<div class="megamenu full">
								<div class="row">
									<div class="col-6 pl30">
										<ul class="megamenu-list">
											{% include 'menu/community.html' %}
										</ul>
									</div>
									<div class="col-6 pl30">
										<ul class="megamenu-list">
											{% include 'menu/help.html' %}
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	{# Mobile responsive header #}
	<div class="container-fluid hidden-md hidden-lg">
		<div class="row">
			<div class="col-sm-6 col-xs-6">
				<a class="logo-cake" href="http://cakephp.org">
					<img src="{{ pathto('_static/logo-cake.png', 1) }}" alt="CakePHP" />
				</a>
			</div>

			<div class="col-sm-6 col-xs-6">
				<div class="navbar-right">
					<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
						<i class="fa fa-bars toggle-modal"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>

	{# Grey site bar #}
	<section class="dark-gray-stripe">
		<div class="container">
			<div class="row">
				<div class="col-md-12 title-blog text-center">
					<h1>
						<span class="glyph_range icon-blog">e</span>
						Bakery
						<span class="sub-bakery">The Official CakePHP Blog</span>
					</h1>
				</div>
			</div>
		</div>
	</section>

	{# Responsive grey bar navigation. This is outside of header so it scrolls with the page. #}
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Navigation</strong></button>
				</div>
			</div>
		</div>
	</section>

	{# modal used in mobile responsive views #}
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header">{# header text injected via js #}</h4>
				</div>
				<div class="modal-body">{# body is injected via js #}</div>
			</div>
		</div>
	</div>

{# TODO figure out what this is and how to replicate it.
<div class="breadcrumb-header">
    <div class="related row">
        <div class="columns three root-link">
            <a href="/">{{ shorttitle|e }}</a>
        </div>
    </div>
</div>
#}
{% endblock -%}

{%- block navigation -%}
{% endblock -%}


{%- block content %}
<div class="container page-container">
    {%- if pagename not in ['search', 'index'] and 'tags/' not in pagename and 'categories/' not in pagename -%}
    <div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/bakery/edit/master/{{ pagename }}.rst" target="_blank">
            <div id="improve-slideout-inner">
                <h6>Improve This Page <i class="fa fa-github git-improve"></i></h6>
            </div>
        </a>
    </div>
    {%- endif -%}

    {# Document body #}
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off">
            {% block body %} {% endblock %}
        </div>

        <div class="sidebar col-md-pull-9 col-md-3 hidden-sm">
            {%- for sidebartemplate in sidebars %}
                {%- include sidebartemplate %}
            {%- endfor %}
        </div>
    </div>
</div>
{% endblock -%}

{%- block footer %}
{# Push the footer down to the bottom of the page #}
<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3"><div id="fb-root"></div><script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                    </script><div id="fb-root-face" style="top:-5px;" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" style="width: 120px; height: 30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" style="width: 120px; height: 30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                {# <a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa icon-social fa-linkedin"></i></a> #}
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="{{ pathto('_static/open-hub.png', 1) }}">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="{{ pathto('_static/rackspace.png', 1) }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        {% include 'menu/business-solutions.html' %}
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        {% include 'menu/footer-documentation.html' %}
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        {% include 'menu/community.html' %}
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        {% include 'menu/help.html' %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                    {%- if show_copyright %}
                        {%- if hasdoc('copyright') %}
                            {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
                        {%- else %}
                            {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
                        {%- endif %}
                    {%- endif %}
                    {%- if last_updated %}
                        {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
                    {%- endif %}
                    {%- if show_sphinx %}
                        {% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.{% endtrans %}
                    {%- endif %}
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>
</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{%- endblock %}
